extends layout

block content
    each file in files
        img.points(src="/images/#{file.file}" data-file="#{file.file}" data-coords="#{file.coords}" width="100px" height="100px")
    div#map-canvas